<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div name="form">
      <form action="/" method="POST">
        <label for="username">username</label>
        <input name="username" type="text">
        <br></br>
        <label for="password">password&nbsp;</label>
        <input name="password" type="password">
        <br><br>
        <input type="submit" value="submit"><br>
      </form>
    </div>
  </body>
</html>
